RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php?url=$1
RewriteRule ^san-pham/([0-9]+)/([a-zA-Z_-]+)/([0-9]+)/$ index.php?c=$1&a=$3
